body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark-mode {
  background-color: black;
}
.dark-mode h1 {
  color: white;
}

.container {
  max-width: 960px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px 0 15px;
}
.thought-List {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.Addthought.new {
  background-color: aqua;
  min-height: 250px;
  padding: 1rem;
  margin-top: 1.4rem;
  border-radius: 15px;
}
textarea {
  border: none;
  resize: none;
  background-color: aqua;
}
textarea:focus {
  outline: none;
}
.save {
  background-color: azure;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}
.save:hover {
  cursor: pointer;
  background-color: rgb(218, 240, 240);
}
.delete-icon {
  cursor: pointer;
  transition: all 0.5s;
}
.delete-icon:hover {
  transform: scale(1.3);
}
.thought {
  background-image: url("./Assets/postit.png");
  background-size: cover;
  min-height: 250px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.thought span {
  margin-top: 1.5rem;
}
.thought-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.2em;
}
.search input {
  border: none;
  background-color: aliceblue;
}
.search input:focus {
  outline: none;
}
